<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Yt url:</b>
  <%= @song.yt_url %>
</p>

<p>
  <b>Contributor:</b>
  <%= @song.contributor %>
</p>


<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
