<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @playlist.name %>
</p>

<p>
  <b>Yt url:</b>
  <%= @playlist.yt_url %>
</p>


<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
